{{ define "main" }}
<div class="wrap">
  <div class="home-grid">

    <section class="h-feed">
      {{ $all := where .Site.RegularPages "Type" "post" }}
      {{ $micro := where $all ".Params.categories" "intersect" (slice "micro" "Micro") }}
      {{ $posts := complement $micro $all }}

      {{ if gt (len $micro) 0 }}
      <div class="micro-strip">
        <div class="micro-strip-head">
          <span class="strip-label">Micro</span>
          <a class="more-link" href="/categories/micro/">All &rarr;</a>
        </div>
        <ul class="micro-scroll">
          {{ range first 8 $micro }}
          <li class="micro-card h-entry">
            <a class="micro-date u-url" href="{{ .RelPermalink }}">
              <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 Jan" }}</time>
            </a>
            <div class="micro-text e-content">{{ partial "content.html" . }}</div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      <ul class="feed">
        {{ range first 12 $posts }}
          {{ partial "post-card.html" . }}
        {{ end }}
      </ul>
      <div class="feed-more">
        <a class="button button-ghost" href="/archive/">Browse the full archive &rarr;</a>
      </div>
    </section>

    {{ partial "sidebar.html" . }}

  </div>
  {{ partial "microblog_syndication.html" . }}
</div>
{{ end }}
